@font-face {
    font-family: 'bpg_nino_mkhedruli_book';
    src: url('../fonts/bpg_nino_mkhedruli_book.eot');
    src: url('../fonts/bpg_nino_mkhedruli_book.eot') format('embedded-opentype'),
         url('../fonts/bpg_nino_mkhedruli_book.woff2') format('woff2'),
         url('../fonts/bpg_nino_mkhedruli_book.woff') format('woff'),
         url('../fonts/bpg_nino_mkhedruli_book.ttf') format('truetype'),
         url('../fonts/bpg_nino_mkhedruli_book.svg#bpg_nino_mkhedruli_book') format('svg');
}
@font-face {
    font-family: 'bpg-glaho-web-caps-webfont';
    src: url('../fonts/bpg-glaho-web-caps-webfont.eot');
    src: url('../fonts/bpg-glaho-web-caps-webfont.eot') format('embedded-opentype'),
         url('../fonts/bpg-glaho-web-caps-webfont.woff2') format('woff2'),
         url('../fonts/bpg-glaho-web-caps-webfont.woff') format('woff'),
         url('../fonts/bpg-glaho-web-caps-webfont.ttf') format('truetype'),
         url('../fonts/bpg-glaho-web-caps-webfont.svg#bpg-glaho-web-caps-webfont') format('svg');
}