footer{
    background-color: #313332;
    span{
        font-family: $nino_mkhedruli;
        font-size: 14px;
        color: white;
    }
}
@media (max-width: 500px){
    .h-f-container{
        img{
            width: 100px;
        }
    }
    footer{
        span{
            font-size: 10px;
        }
    }
}