.h-f-container{
    padding: 0 30px;
    ul{
        width: 600px;
        display: flex;
        justify-content: space-between;
        font-family: $glaho_web_caps;
        text-transform: uppercase;
        a{
            &:hover{
                color: $hover;
            }
        }
    }
}
.headerFixed{
    // height: 100px;
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 5;
    box-shadow: 0px 0px 5px#7EC4CE;
}
.toggle{
    display: none;
}
@media (max-width: 995px){
    .h-f-container{
        ul{
            // width: 100%;
            display: none;
            // background-color: $hover;
            a{
                &:hover{
                    color: white;
                }
            }
        }
        ul li{
            text-align: center;
            display: block;
            padding: 20px;
        }
    }
    .navBar{
        display: block;
        font-size: 24px;
        color: black;
    }
    .active{
        display: block;
        text-align: center;
            display: block;
            padding: 20px;
    }
    .toggle{
        display: block;
        text-align: right;
    }
}